.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #171770;

  --primary-color: #084299;
  --secondary-color: #00a4fd;

  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;

}